<app-nav-menu></app-nav-menu>
<div class="layers">
  <a title="Слои" (click)="openLayersBottomSheet()">
    <img src="https://cheapshot.co/fonts/128/_1f50d-7f980c3f.png" alt="Слои">
  </a>
</div>
<agm-map class="map" [latitude]="lat" [longitude]="lng" [zoom]="zoom" [minZoom]="3" [disableDefaultUI]="true"
  [styles]="styles" (mapClick)="mapClick($event)" gestureHandling="greedy">
  <div *ngFor="let layer of layers; let i = index">
    <agm-kml-layer *ngIf="layer.type === 'monuments' && layer.visible" preserveViewport="true"
      [url]="'https://www.google.com/maps/d/kml?mid=1r4_56P0XBSdgxpoYyHXSne_LbHUwwndE&lid=RGhFDbOb-KU'">
    </agm-kml-layer>

    <agm-data-layer *ngIf="layer.type === 'inspect-area' && layer.visible" [geoJson]="featureCollection"
      [style]="styleFunc">

    </agm-data-layer>
  </div>

</agm-map>