<div *ngIf="players.length === 0">
    <h3 style="text-align: center;">No data for this period</h3>
</div>

<div class="lvl-top" *ngIf="players.length > 0">
    <div class="cp-container">
        <div id="users-cp-container">
            <div id="users">
                <div *ngFor="let player of players; let i = index" class="cp-row user"
                    [ngStyle]="getUserRowStyle(player.xp)" (click)="openPlayerBottomSheet(player)">
                    <div class="cp-col index">{{ getIndex(i) }}</div>
                    <div class="cp-col userpic emoji">
                        <span [class]="font.csemoji(player.pic, 32)">{{player.pic}}</span>
                    </div>
                    <div class="cp-col info">{{ player.name }}</div>
                    <div class="cp-col rating">
                        <span class="xp">{{ player.xp | thousandSuff : 2 }}</span>
                        <span class="level">{{ player.level }}</span>
                    </div>
                    <div *ngIf="player.levelCount" class="cp-col rating">
                        <span class="level-up">+{{ player.levelCount }}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>