<h1 id="tableLabel">World top</h1>

<mat-form-field>
  <mat-select placeholder="Leaderboard by city" [(ngModel)]="city" (selectionChange)="onChangeCity()">
    <mat-option value="world">World</mat-option>
    <mat-option *ngFor="let city of cities" [value]="city.id">
      {{ city.name }}
    </mat-option>
  </mat-select>
</mat-form-field>

<p *ngIf="players.length === 0"><em>Loading leaderboard...</em></p>

<table class='table table-striped' aria-labelledby="tableLabel" *ngIf="players">
  <thead>
    <tr>
      <th>#</th>
      <th>Name</th>
      <th>Level</th>
      <th>Xp</th>
      <th>Cities</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let top of players; let i = index">
      <td>{{ i + 1 }}</td>
      <td><span [class]="font.csemoji(top.pic, 32)">top.pic</span> {{ top.name }}</td>
      <td>{{ top.level }}</td>
      <td>{{ top.xp | thousandSuff : 2 }}</td>
      <td>{{ top.cities }}</td>
    </tr>
  </tbody>
</table>
