<div class="container-main">

    <h3>Envelopes calculator</h3>

    <div class="info-label">Selected level: <span *ngIf="!editValue" class="level" (click)="onEditClick()">
            {{ this.value }}</span>
        <input matInput *ngIf="editValue" type="number" placeholder="Level" [(ngModel)]="value"
            (change)="onChangeLevel($event.target)" [max]="max" [min]="min">
    </div>

    <mat-slider class="example-margin" [disabled]="disabled" [invert]="invert" [max]="max" [min]="min" [step]="step"
        [thumbLabel]="thumbLabel" [(ngModel)]="value" [vertical]="vertical" (input)="onChangeLevel($event)"
        [color]="color">
    </mat-slider>



    <mat-list>
        <mat-list-item class="info-block">
            <div [class]="font.csemoji('🧧', 48) + ' info-emoji'"></div>
            <div class="info-text">
                <div class="info-label">1 Gift envelope</div>
                <div class="info-label">{{ money | thousandSuff : 2 }} <span [class]="font.csemoji('💰', 16)"></span>
                    inside</div>
            </div>
        </mat-list-item>
        <mat-divider class="divider"></mat-divider>
        <mat-list-item class="info-block">
            <div [class]="font.csemoji('🧧', 48) + ' info-emoji'"></div>
            <div class="info-text">
                <div class="info-label">120 Gift envelopes</div>
                <div class="info-label">{{ money * 120 | thousandSuff : 2 }} <span
                        [class]="font.csemoji('💰', 16)"></span>
                    inside</div>
            </div>
        </mat-list-item>
        <mat-divider class="divider"></mat-divider>
        <mat-list-item class="info-block">
            <div [class]="font.csemoji('💰', 48) + ' info-emoji'"></div>
            <div class="info-text">
                <div *ngIf="this.value < 200" class="info-label">1B costs:</div>
                <div *ngIf="this.value > 200" class="info-label">1T costs:</div>
                <div class="info-label">{{ rubles | currency: 'RUB':'symbol-narrow' }} | {{ euro | currency: 'EUR':'€ &
                    $' }}</div>
            </div>
        </mat-list-item>
    </mat-list>

</div>