<div class="container-main">
  <h1>{{ title }}</h1>

  <mat-form-field>
    <mat-label>Leaderboard by city</mat-label>
    <select matNativeControl [ngModel]="city" (ngModelChange)="onChangeCity($event)">
      <option selected [ngValue]="world">🌍 World</option>
      <optgroup *ngFor="let group of countryGroups" [label]="group.name">
        <option *ngFor="let city of group.cities" [ngValue]="city">{{city.name}}</option>
      </optgroup>
    </select>
  </mat-form-field>

  <div *ngIf="players.length === 0">
    <div class="loading loading02">
      <span class="cs-emoji cs-emoji-64 _1f438"></span>
      <span class="cs-emoji cs-emoji-64 _1f430"></span>
      <span class="cs-emoji cs-emoji-64 _1f437"></span>
      <span class="cs-emoji cs-emoji-64 _1f47b"></span>
      <span class="cs-emoji cs-emoji-64 _1f916"></span>
    </div>
  </div>
</div>

<app-leaderboard [maxXp]="maxXp" [players]="players"></app-leaderboard>