<div class="container-main">
  <h1>{{ title }}</h1>

  <mat-form-field>
    <mat-label>Leaderboard by city</mat-label>
    <select matNativeControl [ngModel]="city" (ngModelChange)="onChangeCity($event)">
      <option selected [ngValue]="world">🌍 World</option>
      <optgroup *ngFor="let group of countryGroups" [label]="group.name">
        <option *ngFor="let city of group.cities" [ngValue]="city">{{city.name}}</option>
      </optgroup>
    </select>
  </mat-form-field>
</div>

<app-loading *ngIf="this.loading"></app-loading>

<app-leaderboard *ngIf="!this.loading" [maxXp]="maxXp" [players]="players"></app-leaderboard>