.mat-bottom-sheet-container {
    background: #212121 !important;
    color: #e6e6e6 !important;
    font-weight: 700;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

.level {
    margin-left: -2px;
    padding: 2px 9px;
    font-size: 12px;
    border-radius: 16px;
    background-color: #0281FC;
    vertical-align: top;
}

.title {
    display: inline;
    font-weight: bold;
    font-size: 24px;
}