<div class="ch-sheet container-main">
    <h2>Layers</h2>
    <p><span [class]="font.csemoji('🗽', 32)"></span> Monuments:</p>
    <div *ngFor="let layer of layers; let i = index">
            <mat-checkbox *ngIf="layer.type === 'markers'" [(ngModel)]="layer.visible" labelPosition="before"><b>{{layer.name}}</b></mat-checkbox>
    </div>
    <p><span [class]="font.csemoji('📡', 32)"></span> Zones:</p>
    <div *ngFor="let layer of layers; let i = index">
            <mat-checkbox *ngIf="layer.type === 'zones'" [(ngModel)]="layer.visible" labelPosition="before"><b>{{layer.name}}</b></mat-checkbox>
    </div>
</div>