<h1 id="tableLabel">World top</h1>

<p *ngIf="!players"><em>Loading...</em></p>

<table class='table table-striped' aria-labelledby="tableLabel" *ngIf="players">
  <thead>
    <tr>
      <th>Pic</th>
      <th>Name</th>
      <th>Level</th>
      <th>Xp</th>
      <th>Cities</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let top of players">
      <td>{{ top.pic }}</td>
      <td>{{ top.name }}</td>
      <td>{{ top.level }}</td>
      <td>{{ top.xp }}</td>
      <td>{{ top.cities }}</td>
    </tr>
  </tbody>
</table>
