<h1>About</h1>

<p>Hello!</p>
<p>This is service for the leaderboards in the game around the world!</p>
<p>The data will be updated every day at approximately 22:00 Moscow time.</p>
<p>What features will my service provide?</p>
<ul>
  <li>🎖 Leaderboard by experience</li>
  <li>🌎 Filter by city</li>
  <li>⭐️ Leaderboard by experience for the selected period</li>
</ul>
<p>Follow the latest news in this telegram channel: <a href="https://t.me/cheaphot_experience">@cheaphot_experience</a>
</p>

<iframe
  src="https://yoomoney.ru/quickpay/shop-widget?writer=seller&targets=%D0%9D%D0%B0%20%D0%BD%D0%BE%D0%B2%D1%83%D1%8E%20%D0%BA%D0%B5%D0%BF%D0%BA%D1%83%20%D0%B8%20%D1%81%D0%B5%D1%80%D0%B2%D0%B5%D1%80&targets-hint=&default-sum=100&button-text=14&payment-type-choice=on&comment=on&hint=&successURL=&quickpay=shop&account=41001328739873"
  width="100%" height="301" frameborder="0" allowtransparency="true" scrolling="no"></iframe>