html {
  touch-action: manipulation;
}
* { box-sizing: border-box; }
* { -webkit-tap-highlight-color: rgba(0,0,0,0); }
.lvl-top {
  margin: 0;
  padding: 0;
  /* background-color: black; */
  color: white;
  font-weight: 700;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}
a {
  text-decoration: none;
}
.ptr--ptr .ptr--text, .ptr--ptr .ptr--icon {
  color: white;
  /* background-color: white; */

}
.cp-container {
  /* width: 500px; */
  margin: 0 auto;
}
.hidden {
  display: none;
}
.menu {
  /*width: 100%;*/
  display: flex;
  
  flex-direction: row;
  justify-content: center;
  font-size: 24px;
  /*margin-bottom: 16px;*/
  margin: 16px;
}
.menu-item {
  flex-grow: 2;
  white-space: nowrap;
  cursor: pointer;
  background-color: #4C4C4C;
  color: white;
  text-align: center;
  padding: 10px 20px;
}
.menu .menu-item:first-child {
  border-radius: 30px 0 0 30px;
  border-right: 1px solid #616161;
}
.menu .menu-item:last-child {
  border-radius: 0 30px 30px 0;
  border-left: 1px solid #616161;
}
.menu-item:hover, .menu-item.active {
  background-color: white;
  color: black;
}
#overview-cp-container {
  padding: 10px;
}
.cp-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.cp-row > .cp-col {
  padding: 4px;
  align-self: center;

}

.cp-row .cp-col:first-child {
  padding-left: 8px;
}
.cp-row .cp-col:last-child {
  padding-right: 8px;
}

#buildings .buildings {
  font-size: 11px;
}
.cp-col.index {
  opacity: 0.8;
  font-size: 20px;
}
.cp-col.info {
  font-size: 20px;
  flex-grow: 2;
  
  display: flex;
  flex-direction: column;
}
/* .cp-col.info .username {
  word-break: keep-all;
  text-overflow: ellipsis;
  white-space: nowrap;
} */

.cp-col.info .buildings {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: nowrap;
}
.cp-col.info .buildings .bs {
  flex-shrink: 0;
}
.cp-col.info .buildings .bl {
  flex-grow: 2;
}
.cp-col.userpic {
  font-size: 32px;
}
.cp-col.rating {
  font-size: 12px;
  white-space: nowrap;
  word-break: keep-all;
}
.cp-col.rating .level {
  margin-left: 4px;
  padding: 1px 8px;
  border-radius: 16px;
  background-color: #0281FC;
}